<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Aoe_TrimPassword>
			<version>0.0.1</version>
		</Aoe_TrimPassword>
	</modules>
   	<global>
		<models>
			<aoe_trimpassword>
				<class>Aoe_TrimPassword_Model</class>
			</aoe_trimpassword>
		</models>
		<helpers>
			<aoe_trimpassword>
				<class>Aoe_TrimPassword_Helper</class>
			</aoe_trimpassword>
		</helpers>
		<events>
			<controller_action_predispatch_customer_account_loginPost>
				<observers>
					<aoe_trimpassword>
						<type>singleton</type>
						<class>Aoe_TrimPassword_Model_Observer</class>
						<method>trimPassword</method>
					</aoe_trimpassword>
				</observers>
			</controller_action_predispatch_customer_account_loginPost>
		</events>
	</global>
</config>